/* IMPORT POLICES */

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; ;
    color: #E7DED9;
   
}

.background{
    background-color: #13292A;
}

/* HEADER */

.date{
    font-size: 1rem;
    margin-bottom: 40px;
    padding: 0 10px;
}


.title{
    font-family: 'Lora', sans-serif;
    text-align: center;
    
}

.logo{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin: 2vh;    
}

nav,
 a.nav-link,
 .material-symbols-outlined
{  
    color: #E7DED9;
}



#navbar-expand{
    visibility: hidden;
}

#icons-accueil{
    visibility: hidden;
}



/* FOOTER */

#menu-burger{
    background-color: #988780;
    padding: 15px;
        
}

footer{
    background-color: #988780;
}

.footer{
    margin: 30px;
    align-items: center;
    
}

.maps{
    box-sizing: border-box;
    padding: 0;
}


/* ACCUEIL : BODY */



.img-line{
    
width: 62px;
height: 70px;
left: 73px;
top: 509px;
border-radius: 50%;
object-fit: cover;
}

p{
    padding: 5px;
    font-family:  'Montserrat', sans-serif; ;
}


.reservation{
    color: black;
    border: #988780 1px solid;
    width: 150px;
    padding: 10px;
    background-color:#E7DED9;
    align-items: center;
}

/* GALERIE */

.body-galerie{
    height: auto;
    width: 100vw;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    gap: 5px;
    padding: 20px 20px;
    height: auto;
   

}

.grid-item{
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease;
}

.grid-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.2s ease;
}

.grid-item:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0, 0.6);
    z-index: 2;
}

.grid-img:hover{
    transform: scale(1.2);
}

#popup-bg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.8);
    z-index: 3;
    align-items: center;
    justify-content: center;
}


#popup-bg.active{
    display: flex;
}

#popup-content{
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#popup-img{
    width: 100%;
    height: auto;
}


#popup-close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#popup-close:hover {
    background-color: grey;
}


/*CARTE */
.titreh2{
text-shadow: 1px 5px 5px #E7DED9 ;
text-align: center;
}
 .titreh3{
    color: #988780;
    font-weight: bolder;
    text-align: center;
    
    
} 



.title, .price{
    display: flex;
    
    justify-content: space-between;
    
    
}

.paragrapheliste, ul{
    list-style-type: none;
    padding: 0;
}

ul{
    margin-bottom: 10px;
    padding-left: 0;
}

li{
    padding: 3px;
}

.ingredients{
    font-style: italic;
}

/* =========================================================== */
/* DESKTOP */

@media  screen and (min-width: 1024px) {

    /*ACCUEIL DESKTOP*/
  
    .slide-accueil{
        width:80%;
        height: 500px;
        object-fit: cover;
        margin-top: 30px;

    }
    
    .date{
        display: flex;
        justify-content: space-around;
        
    }

    .logo {
        height: 10rem;
        width: 10rem;
    }

  .img-line{
        height: 120px;
        width: 120px;
        left: 240px;
        top: 647px;
        border-radius: 50%;
    }

    /*NAVBAR DESKTOP*/
    nav{  
        margin: 10px;  
    }

    .navbar-nav{
        background-color: #988780;
        border-radius: 50px; 
        padding-right: 30px;  
    }

    .nav-item{
        padding-left: 30px;
        text-transform: uppercase;
    }

    #navbar-expand{
        visibility: visible;
     
    }

   
    #icons-accueil{
        visibility: visible;
    }

    #menu-burger{
        visibility: hidden;
    }

  /*FOOTER DESKTOP*/

    footer{
        padding: 30px;
        font-size: large;
        display: flex;
        justify-content: space-between;
       
    }

    /*CARTE DESKTOP*/
    
    
.title, .price, .ingredients{
    
    margin-left: 150px;
    margin-right: 150px;
    
    
}




/*GALERIE DESKTOP*/

    #grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 250px;
        gap: 5px;
        height: auto;
        padding: 20px 200px;
    
    }

    #filters {
        margin-bottom: 10px;
        padding: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }

    #all, #cheese, #starter, #main, #dessert {
        padding: 5px;
        margin: 10px;
    }
}


