/* IMPORT POLICES */

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif; 
    color: #E7DED9;
   
}

.background{
    background-color: #13292A;
}

/* HEADER */

.date{
    font-size: 1rem;
    margin-bottom: 40px;
    padding: 0 10px;

}



.title{
    font-family: 'Montserrat', sans-serif;
   
    text-align: center;
    
}

.logo{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin: 2vh;    
}

nav,
 a.nav-link,
 .material-symbols-outlined
{  
    color: #E7DED9;
}



#navbar-expand{
    visibility: hidden;
}

#icons-accueil{
    visibility: hidden;
}



/* BODY */

.slide-accueil{
    width: 70vw;
    height:45vw;
}


.img-line{
    
width: 62px;
height: 70px;
left: 73px;
top: 509px;
border-radius: 50%;
}


.reservation{
    color: black;
    border: #988780 1px solid;
    width: 150px;
    padding: 10px;
    background-color:#E7DED9;
}


/* FOOTER */

#menu-burger,
footer{
    background-color: #988780;
    padding: 15px;
        
}



.footer{
    margin: 30px;
    align-items: center;
}

.maps{
    box-sizing: border-box;
    padding: 0;
}



/* DESKTOP */

@media  screen and (min-width: 1024px) {
    
    .date{
        display: flex;
        justify-content: space-around;
        
    }

    .logo {
        height: 10rem;
        width: 10rem;
    }

    nav{  
        margin: 10px;  
    }

    .navbar-nav{
        background-color: #988780;
        
    }

    #navbar-expand{
        visibility: visible;
    }

    #icons-accueil{
        visibility: visible;
    }

    #menu-burger{
        visibility: hidden;
    }

    .img-line{
        height: 120px;
        width: 120px;
        left: 240px;
        top: 647px;
        border-radius: 50%;
    }

    footer{
        padding: 30px;
        font-size: large;
        display: flex;
        justify-content: space-between;
       
    }
    

}